<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Travel Ball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D903EE4B1DA2AA9100E1D0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D903EE5F1DA2AA9200E1D0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D903EE6A1DA2AA9200E1D0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
